@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
	font-family: 'Josefin Sans', sans-serif;
}


body {
	background-color: #3dabe2;
	max-width: 900px;
	margin: 0 auto;
	border: 1px solid blue;

}

header{
	height:400px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}
.logo {
	height:130%;
	width: 100%;
}

nav {
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
	
}
nav ul {
	    margin-top: 0px;
    padding-left: 0px;
}

nav li {
	border: solid 1px;
	float: left;
	list-style: none;

}

nav li a {
    float: left;
    display: block;
    text-align: center;
    padding: 30px 34px 30px 34px;
    text-decoration: none;
	background-color: #00c8f8;
}

nav li a:hover {
	background-color: #f6a2bf
}

 h2 {
 	font-size: 40px;
	text-align: center;
}
p {
	font-size: 20px;
}

#home {
	text-align: center;
	font-size: 30px;
	height:350px;
}

#education { 
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
	display: flex;
	flex-direction:row;
		flex-wrap:wrap;
		padding: 50px 0 50px 0;
}
#education h2 {
	margin-bottom: 300px;
}
#education img {
	width: 30%;
	height: 30%;
	align-self:center;
	margin-left: 20px
}
#education p {
	    font-size: 20px;
    align-self: flex-end;
}

#experience {
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
		display: flex;
	flex-direction:row;
		flex-wrap: wrap;
		padding: 50px 0 50px 0;
}
#experience p {
	    font-size: 20px;
    align-self: flex-end;
    	width: 33%;
}    
#experience h2 {
margin-bottom: 300px;}

#experience img {
	width: 30%;
	height: 30%;
	align-self:center;
	margin-left: 20px
}

#hobbies {
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
}

#portfolio {
	border-top-style: solid;
	line-height: 1.5;
}

#contacts {
	border-top-style: solid;
	line-height: 1.5;
}

.call {
	width: 50px;
}

.phone {
	width: 100px;
}
.hobbies img {
	width: 200px;
	height: 200px;
}

input[type=text] {
    width: 30%;
    padding: 8px 5px;
}

input[type=email] {
    width: 30%;
    padding: 8px 5px;
}
.mysite {
	text-align: center;
}
@media (max-width: 870px) {
	#education, #experience {
	display:block;	
	}
#education h2, #experience h2 {
	   margin-bottom: 1px;
}
#experience p {
	width: 100%;
}

}