@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
* {
	font-family: 'Josefin Sans', sans-serif;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #3dabe2; 
}

header{
	height:70px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}

nav {
	position: fixed;
	top: 0;
	right: 5px;
	left: 5px;
	overflow: hidden ;
}

nav li {
	border: solid 2px;
	float: left;
	list-style: none;
}

nav li a {
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: black;
	text-shadow: 0 1px 0 white;
	background-color: #00c8f8;
}

nav li a:hover {
	background-color: #f6a2bf
}

 h2 {
 	font-size: 40px;
	text-align: center;
}
p {
	font-size: 30px;
}

#home {
	text-align: center;
	font-size: 30px;
	height:350px;
}

#education {
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
}

#experience {
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
}

#hobbies {
	text-align: center;
	border-top-style: solid;
	line-height: 1.5;
}

#portfolio {
	border-top-style: solid;
	line-height: 1.5;
}

#contacts {
	border-top-style: solid;
	line-height: 1.5;
}

.call {
	width: 50px;
}

.phone {
	width: 100px;
}
.hobbies {
	width: 250px;
	height: 250px;
}

input[type=text] {
    width: 30%;
    padding: 8px 5px;
}

input[type=email] {
    width: 30%;
    padding: 8px 5px;
}
