@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); * {
    font-family: 'Josefin Sans', sans-serif;
}
html{
	background-color: blue;
}
body {
    background-color: #4dd7fa;
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid blue;
}

header {
    margin: 1px 1px 1px 1px;
    padding: 0 1px 1px 1px;
}

header nav {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    margin-top: 0px;
    padding-left: 0px;
}

nav li {
    border: solid 1px;
    float: left;
    list-style: none;
}

nav li a {
    float: left;
    display: block;
    text-align: center;
    padding: 30px 34px 30px 34px;
    text-decoration: none;
    background-color: #00c8f8;
}

nav li a:hover {
    background-color: #f6a2bf
}

h2 {
    font-size: 40px;
    text-align: center;
}

p {
    font-size: 20px;
}

#home {
    text-align: center;
    font-size: 30px;
    margin-top: 350px;
    height: 300px;
}
#home h2 {
    text-shadow: 3px 3px 5px;
}

#home img {
    width: 350px;
    height: 300px;
    position: relative;
    bottom: 500px;
}

#education {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}

#education h2 img {
    height: 60%;
    padding-top: 50px;
    margin-top: 0px;
}

#education img {
    width: 30%;
    height: 30%;
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

#education p {
    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 100px;
    text-align: left
}

#experience {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 0 50px 0;
}

#experience h2 img {
    height: 60%;
    padding-top: 50px;
    margin: 0;
}

#experience p {
    font-size: 20px;
    align-self: center;
    width: 33%;
    text-align: left;
}

#experience img {
    width: 33%;
    height: 33%;
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

#hobbies {
    text-align: center;
    border-top-style: solid;
    line-height: 1.5;
    padding-bottom: 50px;
}

#portfolio {
    border-top-style: solid;
    line-height: 1.5;
}

#contacts {
    border-top-style: solid;
    line-height: 1.5;
}
    
    footer {
        height: 350px;
}
footer div a {
    position: relative;
    bottom: 30px;
}

.call {
    width: 50px;
    height: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
        margin-right: 20px;

}

.phone {
    width: 100px;
    padding-left: 20px;
    position: relative;
    top: 30px
}

.hobbies img {
    width: 150px;
    height: 150px;
}
form {
	float: right;
}
input[type=text] {
    width: 354px;
    padding: 8px 5px;
    background-color: #fef8a0;
}

input[type=email] {
    width: 354px;
    padding: 8px 5px;
    background-color: #fef8a0;
}
input[type=submit] {
    width: 100px;
    height: 30px;
    position: relative;
    left: 130px;
    background-color: #fefb64;
    box-shadow: 2px 5px 10px;
}
textarea {
        background-color: #fef8a0;
       width: 363px;
       height: 60px;
}

.mysite {
    text-align: center;
       margin-bottom: 50px;
}

@media (max-width: 870px) {
    #education, #experience {
        display:block;
    }
    #experience img, #education img {
     margin-left: 0;       
}

    #education h2, #experience h2 {
        margin-bottom: 1px;
    }

    #experience p, #education p {
        width: 100%;
        text-align: center;
    }

    #experience h2 img, #education h2 img {
        display: none;
    }
    .hobbies img {
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 770px) {
    form {
    float: none;
    text-align: center
    }
    
    footer {
        height: 450px;
    }
input[type=submit] {
    width: 150px;
    height: 30px;
    left: 0;
    }
}
@media (max-width: 400px) {
    #home img {
    bottom: 550px
    } 
    input[type=text] {
    width: 334px;
}
form {
        margin-bottom: 30px;
}

input[type=email] {
    width: 334px;
}
input[type=submit] {
    width: 200px;
    left: 0px;
}
textarea {
       width: 344px;
       height: 60px;
    }
    footer div a {
   font-size: small;
}
}
@media (max-width: 370px) {
    #home img {
    width: 300px;
    height: 280px;
}
    input[type=text] {
    width: 280px;
}

input[type=email] {
    width: 280px;
}
input[type=submit] {
    width: 200px;
    left: 0px;
  
}
textarea {
       width: 291px;
    }
}